@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500&family=Roboto:wght@400;500&display=swap');

//Colors
$mainColor: rgb(243, 76, 56);
$mainColorTransparentNav: rgba(243, 76, 56, .9);
$mainColorTransparentBtn: rgba(243, 76, 56, .6);
$secondaryColorDark: rgb(5, 5, 5);
$secondaryColorLight: rgb(10, 10, 10);
$secondaryColorLightTransparent: rgba(10, 10, 10, .9);
$fontColor: rgb(255, 255, 255);

//Fonts 
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Figtree', sans-serif;

//Sizing
$textXl: 9rem;
$textLg: 5rem;
$textLg2: 3rem;
$textMd: 2.3rem;
$textSm: 1.9rem;
$benefits: 1.5rem;
//Sizing Mobile
$textResponsiveXl: 6.5rem;
$textResponsiveLg: 4.3rem;
$textResponsiveMd: 2rem;
$textResponsiveSm: 1.8rem;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: $secondaryColorDark;
    color: $fontColor;
}

.no-index{
    margin-top: 100px;
}

h1{
    @include text($textLg, $fontColor, $secondaryFont);
    text-transform: uppercase;
    padding: 3rem 1rem 0;
    text-align: center;
}

.frase{
    @include text($textMd, $mainColor, $secondaryFont);
    text-align: center;
    padding-bottom: 1rem;
    margin: 0 1.5rem;
}

p{
    @include text($textMd, $fontColor, $secondaryFont);
}




