footer{
    background-color: map-get($map: $paleta, $key: 'mainColor'); 
    margin-top: 2rem;
    height: 130px;
    ul{
        list-style-type: none;
        @include flex (row, center, center);
        li{
            padding: 2.5rem;
            a{
                @include text(map-get($map: $sizes, $key: 'textLg'), map-get($map: $paleta, $key: 'secondaryColorDark'), none);
                text-decoration: none;
                padding: 1rem;
                margin: 0 auto;
                transition: .1s;
                &:hover{
                    color: map-get($map: $paleta, $key: 'secondaryColorLightTransparent');
                }
            }
        }
    }
    
}
