@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin text ($size, $color, $align) {
    font-size: $size;
    color: $color;
    text-align: $align;
}

@mixin box ($margin, $background, $color){
    margin: $margin;
    background-color: $background;
    color: $color;
}

@mixin botones ($width, $background, $color, $border-radious, $padding, $margin){
    width: $width;
    background-color: $background;
    color: $color;
    border-radius: $border-radious;
    padding: $padding;
    margin: $margin;
}
