@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin text ($size, $color, $family) {
    font-size: $size;
    color: $color;
    font-family: $family;
}

@mixin botones ($width, $background, $border-radious, $padding, $margin){
    width: $width;
    background-color: $background;
    border-radius: $border-radious;
    padding: $padding;
    margin: $margin;
    border: none; 
}

@mixin border ($color){
    border: 1px solid $color;
}