.bg-orange{
    background-color: map-get($map: $paleta, $key: 'mainColorTransparentNav');
}

.hamb-btn{
    font-size: map-get($map: $sizes, $key: 'textSm');
}

nav button{
    height: 3rem;
    width: 6rem;
    color: map-get($map: $paleta, $key: '$secondaryColorDark');
    margin-right: 2rem;
}

.logo{
    height: 10rem;
}

.nav-link{
    font-size: map-get($map: $sizes, $key: 'textMd');
    margin-left: 1rem;
    color: $secondaryColorDark;
}

