@media screen and (max-width: 480px){
    /**********Index**********/
    h1{
        font-size: map-get($map: $sizes, $key: 'textResponsiveLg');
        margin: 0 1rem;
    }

    .titulo{
        font-size: map-get($map: $sizes, $key: 'textResponsiveXl');
    }

    .frase{
        margin: 0 1.5rem;
        font-size: map-get($map: $sizes, $key: 'textResponsiveMd');
    }

    .quienesSomos{
        .descripcion{
            p{
                font-size: map-get($map: $sizes, $key: 'textResponsiveSm');
                a{
                    @include text (map-get($map: $sizes, $key: 'textResponsiveSm'), map-get($map: $paleta, $key: 'mainColor'), $secondaryFont);
                    text-decoration: none;
                }
            }
        }

        .entrenadores img{
            width: 250px;
        }

        .galeria{
            .img_container:nth-of-type(1){
                grid-column: span 12;
                grid-row: span 2;
            }
            .img_container:nth-of-type(2){
                grid-column: span 6;
            }
            .img_container:nth-of-type(3){
                grid-column: span 6;
            }
            .img_container:nth-of-type(4){
                grid-column: span 6;
            }
            .img_container:nth-of-type(5){
                grid-column: span 6;
            }
            .img_container:nth-of-type(6){
                grid-column: span 6;
            }
            .img_container:nth-of-type(7){
                grid-column: span 12;
            }
            .img_container:nth-of-type(8){
                grid-column: span 6;
            }
            .img_container:nth-of-type(9){
                grid-column: span 6;
            }
            .img_container:nth-of-type(10){
                grid-column: span 6;
            }
            .img_container:nth-of-type(11){
                grid-column: span 12;
            }

            .img_container img{
                height: 200px;
            }
        
        }
    }

    /**********Programas**********/
    .programas {
        .programa{
            flex-direction: column;
            width: 90%;
            height: 300px;
            &:nth-of-type(1){
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4),rgba(243, 76, 56, 0.3), rgba(0, 0, 0, .9)), url("../img/pro_weight-lifting.webp");
                background-attachment: center;
                background-size: cover;
            }
            &:nth-of-type(2){
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4),rgba(243, 76, 56, 0.5), rgba(0, 0, 0, .9)), url("../img/pro_powerlifting.webp");
                background-attachment: center;
                background-size: cover;
            }
            &:nth-of-type(3){
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4),rgba(243, 76, 56, 0.3), rgba(0, 0, 0, .9)), url("../img/pro_crossfit.webp");
                background-attachment: center;
                background-size: cover;
            }
            &:nth-of-type(4){
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4),rgba(243, 76, 56, 0.5), rgba(0, 0, 0, .9)), url("../img/pro_funcional.webp");
                background-attachment: center;
                background-size: cover;
            }
            
            .programa-h2{
                width: 100%;
                height: 20%;
                margin: 0 auto;
                h2{
                    font-size: map-get($map: $sizes, $key: 'textResponsiveLg');
                    text-align: center;
                    padding-left: 0rem;
                }
            } 
            
            .programa-img {
                width: 100%;
                height: 300px;
                padding-top: 2.5rem;
                display: none;
                img{
                    filter: grayscale(0%);
                    width: 100%;
                }
            }     
        }         
    }

    /**********Testimonios**********/
    .testimonios{
        grid-template-columns: 90%;
        
        .testimonio-caja{
            width: 100%;
            margin: 1rem auto;

            .caja-top{
                .resenia{
                    font-size: map-get($map: $sizes, $key: 'textSm');
                }
            }
            
            q{
                @include text (map-get($map: $sizes, $key: 'textResponsiveSm'), none, $mainFont);
            }
        }
    }
        
    /**********Contacto**********/
    .form{
        .input, .select{
            width: 100%;
            font-size: map-get($map: $sizes, $key: 'textResponsiveSm');
        }
        .textarea{
            font-size: map-get($map: $sizes, $key: 'textResponsiveSm');
        }
    }

    /**********Footer**********/
    footer ul li a{
        font-size: 4rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 722px){
    .titulo{
        font-size: map-get($map: $sizes, $key: 'textResponsiveXl');
    }

    /**********Index**********/
    .quienesSomos{
        .galeria{
            .img_container:nth-of-type(1){
                grid-column: span 12;
                grid-row: span 2;
            }
            .img_container:nth-of-type(2){
                grid-column: span 6;
            }
            .img_container:nth-of-type(3){
                grid-column: span 6;
            }
            .img_container:nth-of-type(4){
                grid-column: span 12;
            }
            .img_container:nth-of-type(5){
                grid-column: span 6;
            }
            .img_container:nth-of-type(6){
                grid-column: span 6;
            }
            .img_container:nth-of-type(7){
                grid-column: span 12;
            }
            .img_container:nth-of-type(8){
                grid-column: span 6;
            }
            .img_container:nth-of-type(9){
                grid-column: span 6;
            }
            .img_container:nth-of-type(10){
                grid-column: span 6;
            }
            .img_container:nth-of-type(11){
                grid-column: span 6;
            }
            
            .img_container img{
                height: 230px;
            }
        }
    }
        
    /**********Programas**********/
    .programas {
        .programa{
            flex-direction: column;
            width: 90%;
            height: 300px;
            &:nth-of-type(1){
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4),rgba(243, 76, 56, 0.3), rgba(0, 0, 0, .9)), url("../img/pro_weight-lifting.webp");
                background-attachment: center;
                background-size: cover;
            }
            &:nth-of-type(2){
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4),rgba(243, 76, 56, 0.5), rgba(0, 0, 0, .9)), url("../img/pro_powerlifting.webp");
                background-attachment: center;
                background-size: cover;
            }
            &:nth-of-type(3){
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4),rgba(243, 76, 56, 0.3), rgba(0, 0, 0, .9)), url("../img/pro_crossfit.webp");
                background-attachment: center;
                background-size: cover;
            }
            &:nth-of-type(4){
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4),rgba(243, 76, 56, 0.5), rgba(0, 0, 0, .9)), url("../img/pro_funcional.webp");
                background-attachment: center;
                background-size: cover;
            }
            
            .programa-h2{
                width: 100%;
                height: 20%;
                margin: 0 auto;
                h2{
                    font-size: map-get($map: $sizes, $key: 'textResponsiveLg');
                    text-align: center;
                    padding-left: 0rem;
                }
            } 
            
            .programa-img {
                width: 100%;
                height: 300px;
                padding-top: 2.5rem;
                display: none;
                img{
                    filter: grayscale(0%);
                    width: 100%;
                }
            }     
        }         
    }

    /**********Testimonios**********/
    .testimonios{
        grid-template-columns: 90%;
        
        .testimonio-caja{
            width: 100%;
            margin: 1rem auto;
            .caja-top{
                .resenia{
                    font-size: map-get($map: $sizes, $key: 'textResponsiveMd');
                }
            }
                
            q{
                @include text (map-get($map: $sizes, $key: 'textResponsiveMd'), none, $mainFont);
            }
        }
    }

    /**********Contacto**********/
    .form{
        .input, .select{
            width: 100%;
            font-size: map-get($map: $sizes, $key: 'textResponsiveSm');
        }
        .textarea{
            font-size: map-get($map: $sizes, $key: 'textResponsiveSm');
        }
    }
}

@media screen and (min-width: 723px) and (max-width: 1023px){
   /**********Programas**********/ 
   .programas{
       .programa{
           width: 90%;
           .programa-img{
               width: 40%;
            }
        }
    }
        
    /**********Membresías**********/
    .membresias{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem auto;
        
        .cardd{
            margin: 2rem auto;
            width: 300px;
        }
    }
        
     /**********Testimonios**********/
     .testimonios{
        grid-template-columns: 90%;
        
        .testimonio-caja{
            width: 100%;
            margin: 1rem auto;
            .caja-top{
                .resenia{
                    font-size: map-get($map: $sizes, $key: 'textResponsiveMd');
                }
            }
                
            q{
                @include text (map-get($map: $sizes, $key: 'textResponsiveMd'), none, $mainFont);
            }
        }
    }

    /**********Contacto**********/
    .form{
        .input, .select{
            width: 100%;
            font-size: map-get($map: $sizes, $key: 'textResponsiveMd');
        }
        .textarea{
            font-size: map-get($map: $sizes, $key: 'textResponsiveMd');
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1240px){
    /**********Programas**********/ 
    .programas{
        .programa{
            width: 90%;
            .programa-img{
                width: 40%;
            }
        }
    }

    /**********Membresías**********/
    .membresias{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        .cardd{
            margin: 2rem auto;
            width: 400px;
        } 
    } 
    
    /**********Contacto**********/
    .form{
        .input, .select{
            width: 100%;
            font-size: map-get($map: $sizes, $key: 'textResponsiveMd');
        }
        .textarea{
            font-size: map-get($map: $sizes, $key: 'textResponsiveMd');
        }
    }
}

@media screen and (max-width: 991px){
    .container{
        margin-top: 2rem;
        height: 650px;
        overflow: hidden;
        
        .carousel-inner{
            height: 600px;
            width: 100%;
            
            .carousel-item{
                height: 100%;
                object-fit: cover;
                img{
                    width: 100%;
                    height: 40vh;
                }
                h3{
                    font-size: map-get($map: $sizes, $key: 'textLg2');
                }
                p{
                    font-size: map-get($map: $sizes, $key: 'textResponsiveMd');
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .container{
        margin-top: 2rem;
        height: 600px;
        overflow: hidden;
        
        .carousel-inner{
            height: 500px;
            width: 100%;
            
            .carousel-item{
                height: 100%;
                object-fit: cover;
                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    height: 50vh;
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (min-width: 530px) and (max-width: 767px){
    /**********Tienda**********/ 
   .row{
    display: flex;
    article{
        width: 50%;
    }
   }
}

@media screen and (max-width: 360px){
    .titulo{
        font-size: map-get($map: $sizes, $key: 'textLg');
    }

    footer{
        ul{
            li{
                padding: 1.5rem;
                a{
                    font-size: map-get($map: $sizes, $key: 'textResponsiveLg');
                }
            }
        }
    }

    h1{
        font-size: 3.4rem;
    }
    
    h2{
        font-size: map-get($map: $sizes, $key: 'textResponsiveMd');
    }

    .testimonios{
        grid-template-columns: 90%;
        .testimonio-caja{
            .caja-top{
                .perfil{                   
                    .name-user{
                        font-size: map-get($map: $sizes, $key: 'benefits');
                        span{
                            font-size: map-get($map: $sizes, $key: 'benefits');
                        }
                        .name{
                            font-size: map-get($map: $sizes, $key: 'benefits');
                        }
                    }
                }
                
                .resenia{
                    font-size: map-get($map: $sizes, $key: 'benefits');
                }
            }
        }
    
        q{
            @include text (map-get($map: $sizes, $key: 'benefits'), none, $mainFont);
        }
    }
}
