<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <title>Nitro Gym | Membresías</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <!-- <header> -->
        <nav>
            <div class="navContent">
                <a href="../index.html"><img class="logo" src="../img/logo.png" alt="logo de la empresa"></a>
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="programas.html">Programas</a>
                    </li>
                    <li>
                        <a href="planes.html" class="actual">Membresías</a>
                    </li>
                    <li>
                        <a href="testimonios.html">Testimonios</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    <!-- </header> -->

    <main class="no-index">
        <h1>Membresias que te ofrecemos</h1>
        <p class="frase">Elige la que mejor se adapte a tu forma de entrenar.</p>
        <section class="membresias">
            <div class="card platinum-border">
                <p class="title platinum">Platinum</p>
                <div class="priceContainer">
                  <p>$7499.99</p>
                  <p>/mes</p>
                </div>
                <p class="incluye">Este plan incluye:</p>
                <ul class="beneficios">
                    <li>- Pase libre</li>
                    <li>- Acceso a todas las instalaciones</li>
                    <li>- Plan de alimentación personalizado</li>
                    <li>- Plan de entrenamiento personalizado</li>
                    <li>- Tracking del progreso</li>
                </ul>
                <div class="btnPlan">
                  <button class="platinum"><a href="contacto.html">Elegir este plan</a></button>
                </div>
              </div>

            <div class="card gold-border">
                <p class="title gold">Golden</p>
                <div class="priceContainer">
                  <p>$6499.99</p>
                  <p>/mes</p>
                </div>
                <p class="incluye">Este plan incluye:</p>
                <ul class="beneficios">
                    <li>- Pase libre</li>
                    <li>- Acceso a todas las instalaciones</li>
                    <li>- Plan de alimentación personalizado</li>
                    <li>- Plan de entrenamiento personalizado</li>
                </ul>
                <div class="btnPlan">
                  <button class="gold"><a href="contacto.html">Elegir este plan</a></button>
                </div>
              </div>

            <div class="card silver-border">
                <p class="title silver">Silver</p>
                <div class="priceContainer">
                  <p>$5499.99</p>
                  <p>/mes</p>
                </div>
                <p class="incluye">Este plan incluye:</p>
                <ul class="beneficios">
                    <li>- Pase libre</li>
                    <li>- Acceso a todas las instalaciones</li>
                    <li>- Plan de alimentación personalizado</li>
                </ul>
                <div class="btnPlan">
                  <button class="silver"><a href="contacto.html">Elegir este plan</a></button>
                </div>
              </div>

            <div class="card bronze-border">
                <p class="title bronze">Bronze</p>
                <div class="priceContainer">
                  <p>$4499.99</p>
                  <p>/mes</p>
                </div>
                <p class="incluye">Este plan incluye:</p>
                <ul class="beneficios">
                    <li>- Pase libre</li>
                    <li>- Acceso a todas las instalaciones</li>
                </ul>
                <div class="btnPlan">
                  <button class="bronze"><a href="contacto.html">Elegir este plan</a></button>
                </div>
              </div>
        </section>
    </main>

    <footer>
        <div class="footer_container">
            <ul>
                <li>
                    <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://www.whatsapp.com/?lang=es" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                </li>
            </ul>
        </div>
    </footer>
    
</body>
</html>