<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <title>Nitro Gym | Programas</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <!-- <header> -->
        <nav>
            <div class="navContent">
                <a href="../index.html"><img class="logo" src="../img/logo.png" alt="logo de la empresa"></a>
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="programas.html" class="actual">Programas</a>
                    </li>
                    <li>
                        <a href="planes.html">Membresías</a>
                    </li>
                    <li>
                        <a href="testimonios.html">Testimonios</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    <!-- </header> -->

    <main class="no-index">
        <h1>Programas de Entrenamiento</h1>
        <p class="frase">Te ayudamos a progresar en lo que más te apasiona.</p>
        <section class="programas">
            <div class="programa">
                <div class="programa-h2">
                    <h2>Bodybuilding</h2>
                </div>
                <div class="programa-img">
                    <img src="../img/weight-lifting.jpg" alt="entrenamiento de pesas">
                </div>
            </div>
            <div class="programa">
                <div class="programa-h2">
                    <h2>Powerlifting</h2>
                </div>
                <div class="programa-img">
                    <img src="../img/powerlifting.jpg" alt="entrenamiento de pesas">
                </div>
            </div>
            <div class="programa">
                <div class="programa-h2">
                    <h2>Crossfit</h2>
                </div>
                <div class="programa-img">
                    <img src="../img/crossfit.jpg" alt=" entrenamiento de crossfit">
                </div>
            </div>
            <div class="programa">
                <div class="programa-h2">
                    <h2>Funcional</h2>
                </div>
                <div class="programa-img">
                    <img src="../img/funcional.jpg" alt=" entrenamiento funcional">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer_container">
            <ul>
                <li>
                    <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://www.whatsapp.com/?lang=es" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                </li>
            </ul>
        </div>
    </footer>
    
</body>
</html>